.inventory-container {
    margin-top: 80px;
}

hr {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 20px;
    border: none;
    height: 500px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 45px;
}